@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.head {
  width: 100%;
  height: 100vh;
  min-height: 550px;
  background-image: url(images/back0.png);
  background-color: #F1E9D6;
  background-size: auto 100vh;
  background-position: right top;
  background-repeat: no-repeat;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 90px 0 90px;
  height: auto;
}

.nav__logo img {
  width: 45px;
  height: 45px;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Marmelad', sans-serif;
  width: auto;
}

.nav__items ul li {
  font-family: 'Marmelad', sans-serif;
  font-weight: bold;
  color: #3D200C;
  list-style-type: none;
  margin-left: 30px;
  padding: 5px;
  border: 2px solid;
  border-color: transparent;
  width: auto;
  text-decoration: none;
}

.nav__items ul a {
  text-decoration: none;
  color: inherit;
}

.nav__items ul li:hover {
  border: 2px solid;
  border-color: #aa5fcc;
  border-radius: 4px;
  cursor: pointer;
}

.main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.main-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #3D200C;
  font-family: 'Marmelad', sans-serif;
  font-weight: bold;
  padding-left: 90px;
}

.main-info__wrap h1 {
  font-size: 84px;
}

.main-info__wrap h2 {
  font-family: 'Marmelad', sans-serif;
  font-weight: normal;
}

.main-info__wrap h3 {
  margin-top: 40px;
  font-family: 'Marmelad', sans-serif;
  font-weight: normal;
  font-size: 28px;
  font-weight: 300;
}

.main-info__s-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.main-info__s-networks img {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  cursor: pointer;
}

.button-visit {
  font-family: 'Marmelad', sans-serif;
  font-size: 24px;
  text-decoration: none;
  margin-top: 40px;
  border: 0;
  color: white;
  padding: 15px 40px 15px 15px;
  border-radius: 3px;
  background: #3D200C;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-visit img {
  width: 35px;
  margin-left: 10px;
}

.button-visit:hover {
  background: #251306;
  cursor: pointer;
}

.button-visit:active {
  border: 0;
  background: #251306;
  -webkit-box-shadow: 0 3px #251306 inset;
          box-shadow: 0 3px #251306 inset;
}

.section {
  padding: 0 40px 0 40px;
  height: auto;
  width: auto;
  background-color: #F1E9D6;
}

.our-club {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 510px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-club .horse-2 {
  height: 100%;
  width: auto;
  margin-left: -40px;
}

.our-club .about {
  font-family: 'Marmelad', sans-serif;
  color: #3D200C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: 16px;
}

.our-club .about__paragraph {
  max-width: 100%;
}

.our-club .about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.our-club .about-wrap h1 {
  font-size: 40px;
}

.our-club .about-wrap p {
  margin-top: 30px;
  margin-bottom: 25px;
}

.our-club .about-wrap img {
  width: 30px;
}

.our-club .about-wrap .button-more {
  font-family: 'Marmelad', sans-serif;
  font-size: 16px;
  text-decoration: none;
  border: 2px solid;
  border-color: #3D200C;
  padding: 10px 35px 10px 10px;
  border-radius: 3px;
  background: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
}

.our-club .about-wrap .button-more img {
  width: 25px;
  margin-left: 10px;
}

.our-club .about-wrap .button-more:hover {
  background: #f3f3f3;
  cursor: pointer;
}

.our-club .about-wrap .button-more:active {
  background: #f3f3f3;
  -webkit-box-shadow: 0 3px #f3f3f3 inset;
          box-shadow: 0 3px #f3f3f3 inset;
}

.our-club .about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-club .about__item p {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 0;
}

.services {
  font-family: 'Marmelad', sans-serif;
  background-color: #FBF7F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 50px 10px 50px;
}

.services h1 {
  padding-bottom: 40px;
}

.services .cards-services {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Marmelad', sans-serif;
  flex-wrap: nowrap;
}

.services .cards-services .card-services {
  background-color: #FFFCF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  height: 310px;
  border-radius: 5px;
  padding-top: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(206, 206, 206, 0.3);
          box-shadow: 0 2px 5px rgba(206, 206, 206, 0.3);
}

.services .cards-services .card-services:hover {
  background-color: #F2EADA;
  -webkit-box-shadow: 0 2px 5px rgba(143, 143, 143, 0.5);
          box-shadow: 0 2px 5px rgba(143, 143, 143, 0.5);
}

.services .cards-services .card-services:hover .card-services__img {
  border-bottom: 3px solid #3D200C;
}

.services .cards-services .card-services:hover .card-services__img-2 {
  border-bottom: 3px solid #3D200C;
}

.services .cards-services .card-services:hover .card-services__img-3 {
  border-bottom: 3px solid #3D200C;
}

.services .cards-services .card-services__img {
  width: 178px;
  height: 156px;
  background-image: url(images/jump.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-bottom: 3px solid #aa5fcc;
}

.services .cards-services .card-services__img-2 {
  width: 178px;
  height: 156px;
  background-image: url(images/jump.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-bottom: 3px solid #aa5fcc;
  background-image: url(images/ser5.png);
}

.services .cards-services .card-services__img-3 {
  width: 178px;
  height: 156px;
  background-image: url(images/jump.png);
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-bottom: 3px solid #aa5fcc;
  background-image: url(images/ser4.png);
}

.services .cards-services .card-services__info {
  width: 150px;
  font-size: 14px;
  padding-top: 25px;
}

.services .cards-services .card-services__about {
  padding-bottom: 20px;
}

.services .cards-services .card-services__time-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}

.services .cards-services .card-services__price {
  color: #aa5fcc;
}

.services .cards-services .button-visit {
  font-size: 14px;
  margin-top: 0px;
  padding: 5px 10px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid #aa5fcc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 10px 0 30px 0;
  color: #3D200C;
  font-weight: bold;
  width: 100%;
}

.services .cards-services .button-visit:hover {
  background-color: #3D200C;
  border: 2px solid #3D200C;
  color: white;
  font-weight: normal;
}

.services .cards-services .button-visit img {
  width: 15px;
  margin-left: 2px;
}

.wont-walk {
  font-family: 'Marmelad', sans-serif;
  background-color: #FAF7F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wont-walk .contacts__wrapper {
  width: 100%;
  background-color: #FFFCF9;
  margin: 50px 100px 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wont-walk .contacts__wrapper .form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 670px;
  height: 300px;
}

.wont-walk .contacts__wrapper .form .contacts {
  color: #a5a5a5;
  margin: 0 20px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.wont-walk .contacts__wrapper .form .contacts input {
  height: 20px;
  border-radius: 4px;
  background-color: #D3EFE3;
  border: 2px solid transparent;
  margin-top: 10px;
  width: 160px;
  padding: 5px 10px;
  outline: #aa5fcc;
}

.wont-walk .contacts__wrapper .form .contacts input:focus {
  border: 2px solid #aa5fcc;
}

.wont-walk .contacts__wrapper .form .wont-walk-button {
  margin-top: 30px;
  width: 170px;
  height: 26px;
  padding: 0;
  font-family: 'Marmelad', sans-serif;
  border: 2px solid;
  border-color: #C27DDC;
  border-radius: 4px;
  padding: 2px;
  background-color: transparent;
  cursor: pointer;
}

.wont-walk .contacts__wrapper h1 {
  margin-left: auto;
  font-size: 30px;
}

.horse3 {
  height: 400px;
  position: absolute;
  margin-left: -90px;
}

.trainers {
  background-color: #FFFEFD;
}

.trainers h1 {
  padding-bottom: 55px;
  padding-top: 35px;
  font-family: 'Marmelad', sans-serif;
  margin-left: auto;
  font-size: 30px;
  text-align: right;
  padding-right: 20%;
}

.ant-carousel-element {
  width: 180px;
  height: auto;
  text-align: center;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 60px;
  padding: 10px 20px 0px 20px;
}

.ant-carousel-element p {
  font-size: 14px;
  font-family: 'Marmelad', sans-serif;
  text-align: left;
  padding-bottom: 25px;
}

.ant-carousel-element .trainers-name {
  text-align: center;
  font-weight: bold;
}

.ant-carousel-img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  padding-bottom: 10px;
}

/* General styles */
.ant-carousel {
  width: auto;
  position: relative;
  margin: 0px auto auto;
  background-color: transparent;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ant-carousel-list li {
  border: 2px solid;
  border-radius: 4px;
  border-color: #EFDDBB;
  background-color: transparent;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left {
  left: -40px;
  top: 40%;
  display: block;
  background: url(images/arrow-a.png) no-repeat;
  background-size: contain;
}

div.ant-carousel-arrow-right {
  right: -40px;
  top: 40%;
  display: block;
  background: url(images/arrow-b.png) no-repeat;
  background-size: contain;
}

div.ant-carousel-arrow-left:hover {
  opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
  opacity: 1.0;
}

/* вторая карусель для галереи */
.ant-carousel-element2 {
  width: auto;
  height: auto;
  text-align: center;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 50px;
}

.ant-carousel-img2 {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.main {
  width: 270px;
  height: 270px;
}

/* General styles */
.ant-carousel2 {
  width: auto;
  position: relative;
  margin: 0px auto auto;
  background-color: transparent;
}

.ant-carousel-hider2 {
  overflow: hidden;
}

.ant-carousel-list2 {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-carousel-list2 li {
  border-color: #EFDDBB;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Navigation item styles */
div.ant-carousel-arrow-left2,
div.ant-carousel-arrow-right2 {
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.ant-carousel-arrow-left2 {
  left: -40px;
  top: 40%;
  display: block;
  background: url(images/arrow-a.png) no-repeat;
  background-size: contain;
}

div.ant-carousel-arrow-right2 {
  right: -40px;
  top: 40%;
  display: block;
  background: url(images/arrow-b.png) no-repeat;
  background-size: contain;
}

div.ant-carousel-arrow-left2:hover {
  opacity: 1.0;
}

div.ant-carousel-arrow-right2:hover {
  opacity: 1.0;
}

.gallery {
  padding-top: 40px;
  background-color: #FDEFD4;
  font-family: 'Marmelad', sans-serif;
}

.gallery h1 {
  margin-left: 45px;
  margin-bottom: 40px;
}

.gallery p {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 40px;
}

.gallery .ant-carousel2 {
  padding-bottom: 50px;
}

.find-us {
  -webkit-columns: #3D200C;
          columns: #3D200C;
  padding: 50px 45px 150px 45px;
  background-color: #FFFEFD;
  font-family: 'Marmelad', sans-serif;
}

.find-us h1 {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 35px;
}

.find-us .find-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.find-us .find-us-wrapper .find-us__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.find-us .find-us-wrapper .find-us__info {
  width: 680px;
  padding-top: 10px;
}

.find-us .find-us-wrapper .find-us__map {
  width: 100%;
  height: 250px;
}

.find-us img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #1b1b1b;
}

@media screen and (min-width: 980px) {
  .ant-carousel2 {
    max-width: 690px;
  }
  .ant-carousel {
    max-width: 792px;
  }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
  .ant-carousel {
    max-width: 510px;
  }
  .ant-carousel2 {
    max-width: 480px;
  }
  .nav__items {
    display: none;
  }
  .head {
    width: 100%;
    height: 100vh;
    max-height: 500px;
    background-size: cover;
    background-position: right top;
  }
  .wont-walk .contacts__wrapper {
    margin-bottom: 50px;
  }
  .wont-walk .contacts__wrapper .form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 450px;
    height: 250px;
    padding: 30px;
  }
  .wont-walk .contacts__wrapper .form .contacts {
    color: #a5a5a5;
    margin-top: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wont-walk .contacts__wrapper .form .contacts input {
    height: 20px;
    border-radius: 4px;
    background-color: #D3EFE3;
    border: 0;
    margin-top: 10px;
    width: 130px;
    padding: 5px 10px;
  }
  .wont-walk .contacts__wrapper .form .wont-walk-button {
    margin-top: 30px;
    width: 170px;
    height: 26px;
    padding: 0;
    font-family: 'Marmelad', sans-serif;
    border: 2px solid;
    border-color: #C27DDC;
    border-radius: 4px;
    padding: 2px;
    background-color: transparent;
    cursor: pointer;
  }
  .horse3 {
    height: 350px;
    position: absolute;
    margin-left: -90px;
    margin-top: 50px;
  }
  .main-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-info__wrap {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-info__wrap h1 {
    font-size: 70px;
  }
  .main-info__wrap h2 {
    font-family: 'Marmelad', sans-serif;
    font-weight: normal;
  }
  .main-info__wrap h3 {
    margin-top: 40px;
    font-family: 'Marmelad', sans-serif;
    font-weight: normal;
    font-size: 20px;
    font-weight: 300;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .ant-carousel {
    max-width: 225px;
  }
  .ant-carousel2 {
    max-width: 160px;
  }
  .nav {
    display: none;
  }
  .head {
    width: 100%;
    height: 300px;
    background-size: auto 300px;
    min-height: inherit;
  }
  .head h1 {
    font-size: 50px;
  }
  .head h3 {
    display: none;
  }
  .head .main-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head .main-info__wrap {
    padding: 30px;
  }
  .head .main-info__wrap .button-visit {
    font-family: 'Marmelad', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 40px;
    border: 0;
    color: white;
    padding: 15px 40px 15px 15px;
    border-radius: 3px;
    background: #3D200C;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .head .main-info__wrap .button-visit img {
    width: 25px;
    margin-left: 10px;
  }
  .head .main-info__s-networks img {
    width: 30px;
    height: 30px;
  }
  .our-club {
    height: auto;
  }
  .our-club .horse-2 {
    height: 250px;
  }
  .our-club .about {
    margin-bottom: 10px;
  }
  .our-club .about-wrap {
    width: 100%;
    padding: 0 20px;
  }
  .our-club .about-wrap img {
    width: 20px;
  }
  .our-club .about h1 {
    margin-top: 30px;
  }
  .our-club .about p {
    font-size: 14px;
  }
  .section {
    padding: 0;
  }
  .section .find-us {
    padding-bottom: 50px;
  }
  .section .find-us .find-us-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .find-us .find-us-wrapper .find-us__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .section .find-us .find-us-wrapper .find-us__info {
    width: 90%;
    padding-top: 10px;
  }
  .section .find-us .find-us-wrapper .find-us__map {
    margin-top: 30px;
    width: 100%;
    height: 250px;
  }
  .wont-walk .contacts__wrapper {
    margin: 20px;
    border-radius: 4px;
  }
  .wont-walk .contacts__wrapper .form {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    height: 370px;
  }
  .wont-walk .contacts__wrapper .form h1 {
    margin: 0;
  }
  .wont-walk .contacts__wrapper .form .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .wont-walk .contacts__wrapper .form .contacts p {
    margin-top: 15px;
  }
  .wont-walk .contacts__wrapper .form .contacts input {
    height: 20px;
    margin-top: 5px;
    width: 250px;
    padding: 5px 10px;
  }
  .wont-walk .contacts__wrapper .form .wont-walk-button {
    width: 270px;
    height: 30px;
  }
  .horse3 {
    height: 270px;
    margin-left: -50px;
    margin-top: 100px;
  }
  .services p {
    font-size: 16px;
  }
  .services .cards-services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .services .cards-services .card-services {
    margin-top: 10px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    padding: 30px;
  }
  .services .cards-services .card-services__info {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
    height: auto;
  }
  .services .cards-services .card-services__info .button-visit {
    margin: 0;
  }
  .services .cards-services .card-services__img {
    width: 150px;
    height: 100%;
  }
  .services .cards-services .card-services__img-2 {
    width: 150px;
    height: 100%;
  }
  .services .cards-services .card-services__img-3 {
    width: 150px;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
  .head {
    background-image: url(images/mob-main.png);
    background-position: top;
    width: 100%;
    height: 640px;
    background-size: auto 200px;
    min-height: inherit;
  }
  .head h1 {
    font-size: 44px;
  }
  .head h2 {
    font-size: 26px;
  }
  .head h3 {
    font-size: 18px;
  }
  .head .main-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head .main-info__wrap {
    padding: 30px;
    height: 75%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .head .main-info__wrap .button-visit {
    font-family: 'Marmelad', sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 40px;
    border: 0;
    color: white;
    padding: 15px 40px 15px 15px;
    border-radius: 3px;
    background: #3D200C;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .head .main-info__wrap .button-visit img {
    width: 25px;
    margin-left: 10px;
  }
  .head .main-info__s-networks {
    width: 105px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 15%;
  }
  .head .main-info__s-networks img {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .ant-carousel {
    max-width: 225px;
  }
  .ant-carousel2 {
    max-width: 160px;
  }
  .section {
    padding: 0;
  }
  .section .find-us {
    padding: 30px;
  }
  .section .find-us h1 {
    padding-top: 30px;
  }
  .section .find-us .find-us-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .find-us .find-us-wrapper .find-us__info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .section .find-us .find-us-wrapper .find-us__info {
    width: 90%;
    padding-top: 10px;
  }
  .section .find-us .find-us-wrapper .find-us__map {
    margin-top: 30px;
    width: 100%;
    height: 250px;
  }
  .wont-walk .contacts__wrapper {
    margin: 20px;
    border-radius: 4px;
  }
  .wont-walk .contacts__wrapper .form {
    padding: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 10px 0;
    width: 100%;
    min-width: auto;
    max-width: 100%;
    height: auto;
  }
  .wont-walk .contacts__wrapper .form .contacts {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .wont-walk .contacts__wrapper .form .contacts p {
    margin-top: 15px;
  }
  .wont-walk .contacts__wrapper .form .contacts input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 30px;
    width: 100%;
  }
  .wont-walk .contacts__wrapper .form h1 {
    font-size: 28px;
  }
  .wont-walk .contacts__wrapper .form .long {
    width: 100%;
  }
  .wont-walk .contacts__wrapper .form .wont-walk-button {
    width: 100%;
    height: 40px;
  }
  .horse3 {
    display: none;
  }
  .services {
    padding: 30px;
  }
  .services .cards-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .cards-services .card-services {
    margin-top: 10px;
    width: 100%;
  }
  .our-club {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-club .horse-2 {
    padding-top: 30px;
    margin-left: -200px;
    height: 250px;
  }
  .our-club .about {
    margin-bottom: 10px;
  }
  .our-club .about-wrap {
    width: 100%;
    padding: 0 30px;
  }
  .our-club .about-wrap img {
    width: 20px;
  }
  .our-club .about h1 {
    margin-top: 30px;
  }
  .our-club .about p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */
